{% load static i18n %}
<header class="header">
    <div class="header_container">
        <div class="header_logo">
            <div class="header_logo__img">
                <a href="{% url 'main' %}">
                    <img src="{% static 'img/Group172.svg' %}" alt="logo">
                </a>
            </div>
        </div>
        <nav class="header_nav__menu">
            <div class="nav_menu__link">
                <a href="{% url 'news' %}">
                    <h3>{% trans 'Новости' %}</h3>
                </a>
            </div>
            <div class="nav_menu__link">
                <a href="{% url 'categories' %}">
                    <h3>{% trans 'Статьи' %}</h3>
                </a>
            </div>
            <div class="nav_menu__link">
                <a href="{% url 'podcasts' %}">
                    <h3>{% trans 'Подкасты' %}</h3>
                </a>
            </div>
            <div class="nav_menu__link">
                <a href="#vid">
                    <h3>{% trans 'Видео' %}</h3>
                </a>
            </div>
            <div class="nav_menu__link">
                <a href="{% url 'tests' %}">
                    <h3>{% trans 'Тесты' %}</h3>
                </a>
            </div>
            <div class=" nav_menu__link uzb">
                {#                    <a style="font-family: Comic Neue;" href="#">#}
                <h3>
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for language in languages %}
                        {% if language.code != LANGUAGE_CODE %}
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <select name="language" id="" hidden>
                                    <option value="{{ language.code }}"></option>
                                </select>
                                <button style="
                                            background: transparent;
                                            border: none;
                                            font-size: large;
                                            position: center;"
                                        type="submit">
                                    {% if language.code == "uz" %}
                                        <p style="font-family: Comic Neue; font-weight: bold">
                                            O'zbekcha
                                        </p>
                                    {% elif language.code == "ru" %}
                                        <p style="font-family: Comic Neue; font-weight: bold">
                                            Русский
                                        </p>
                                    {% endif %}
                                </button>
                            </form>
                        {% endif %}
                    {% endfor %}
                </h3>
                {#                    </a>#}
            </div>
        </nav>
        <div class="header_right__menu">
            <div class="header_link">
                <img src="{% static 'img/Vector.svg' %}" alt="telegram">
            </div>
            <div class="header_link">
                <img src="{% static 'img/facebook.svg' %}" alt="facebook">
            </div>
            <div class="header_link">
                <img src="{% static 'img/ic_instagram.svg' %}" alt="inst">
            </div>
            <div class="header_link">
                <img src="{% static 'img/tiktik.svg' %}" alt="tiktok">
            </div>
            <div class="header_link">
                <img src="{% static 'img/ic_youtube.svg' %}" alt="youtube">
            </div>
            <div class="header_link">
                <img src="{% static 'img/ic_vkontakte.svg' %}" alt="vk">
            </div>
        </div>
        <div id="myNav" class="overlay">

            <!-- Кнопка для закрытия навигации наложения -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>



            <div class="overlay-content">
                            <div class="overlay_left">

                <a href="{% url 'categories' %}">{% trans 'Статьи' %}</a>
                <a href="{% url 'news' %}">{% trans 'Новости' %}</a>
                <a href="{% url 'tests' %}">{% trans 'Тесты' %}</a>
                <a href="{% url 'podcasts' %}">{% trans 'Подкасты' %}</a>
                <a href="#vid">{% trans 'Видео' %}</a>
                <a>
                    <h3>
                        {% for language in languages %}
                            {% if language.code != LANGUAGE_CODE %}
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <select name="language" id="" hidden>
                                        <option value="{{ language.code }}"></option>
                                    </select>
                                    <button style="
                                            background: transparent;
                                            border: none;
                                            {#font-size: large;#}
                                            position: center;
                                            font-size: smaller"
                                            type="submit">
                                        {% if language.code == "uz" %}
                                            O'zbekcha
                                        {% elif language.code == "ru" %}
                                            Русский
                                        {% endif %}
                                    </button>
                                </form>
                            {% endif %}
                        {% endfor %}
                    </h3>
                </a>
                            </div>

            <div class="overlay_right">
                {% for category in categories %}
                    <div class="left_sidebar__link"><a style="color: aqua;" href="{% url 'category_view' category.url %}">{{ category.name }}</a></div>
                {% endfor %}


{#                    <div class="left_sidebar__link"><a style="color: aqua;" href="./forth2.html">Развлечения</a></div>#}
{#                    <div class="left_sidebar__link"><a style="color: aqua;" href="./forth3.html">Стиль</a></div>#}
{#                    <div class="left_sidebar__link"><a style="color: aqua;" href="./forth4.html">Бизнес</a></div>#}
{#                    <div class="left_sidebar__link"><a style="color: aqua;" href="./forth5.html">Культура</a></div>#}
{#                    <div class="left_sidebar__link"><a style="color: aqua;" href="./forth7.html">Развитие</a></div>#}
{#                    <div class="left_sidebar__link"><a style="color: aqua;" href="./forth6.html">Спорт</a></div>#}
                </div>


            </div>
{#            <div class="overlay-content">#}
{#                <div class="overlay_left">#}
{#                    <a href="./third.html">Статьи</a>#}
{#                    <a href="./second.html">Новости</a>#}
{#                    <a href="./six.html">Тесты</a>#}
{#                    <a href="./six.html">Видео</a>#}
{#                    <a href="./seven.html">Подкасты</a>#}
{#                    <a href="#">O'zbekcha</a>#}
{#                </div>#}

{##}
{#            </div>#}
        </div>

        <!-- Используйте любой элемент для открытия / отображения меню навигации наложения -->
        <span class="opennnn" onclick="openNav()">
                <span class="openn"></span>
                <span class="openn"></span>
                <span class="openn"></span>
            </span>
    </div>
</header>