@import url("https://fonts.googleapis.com/css2?family=Play &display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Play", sans-serif;
    text-decoration: none;
    color: inherit;
}

.adv {
    width: 100%;
}

.adv img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

.top_news {
    width: 100%;
    /*margin-top: 100px;*/
    display: flex;
    justify-content: center;
    position: relative;
}

.top_news img {
  transition: 300ms;
  cursor: pointer;
}

.top_news img:hover {
  box-shadow: 0 0px 15px 8px aqua;
}

.top_new__image {
    max-width: 100%;
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    position: relative;
}

.top_text {
    width: 90%;
    position: absolute;
    color: white;
    font-size: 45px;
    font-weight: bolder;
    bottom: 10%;
    margin-left: 20px;
}

.uzbekistan_news {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.uzbekistan_news__container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 100%;
    font-size: 28px;
    font-weight: bolder;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.content_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.uzb_item {
    width: 480px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    position: relative;
    color: white;
    z-index: 5;
    transition: 300ms;
    cursor: pointer;
}

.uzb_item:nth-child(3) {
    width: 600px;
}

.uzb_item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    z-index: -5;
    opacity: 0;
    transition: 300ms;
    box-shadow: 0 0px 15px 8px aqua;
}

.uzb_item:hover::after {
    opacity: 1;
}

.uzb_item__title {
    width: 300px;
    position: absolute;
    bottom: 15%;
    margin-left: 10px;
}

.uzb_item__subtext {
    position: absolute;
    bottom: 5%;
    color: gray;
    margin-left: 10px;
    border-bottom: 1px solid gray;
}

.world_news {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.world_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.world_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.content__left {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.world__item {
    width: 400px;
    height: 385px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
    color: white;
    position: relative;
    transition: 300ms;
    z-index: 5;
    cursor: pointer;
}

.world__item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    z-index: -5;
    opacity: 0;
    transition: 300ms;
    box-shadow: 0 0px 15px 8px aqua;
}

.world__item:hover::after {
    opacity: 1;
}

.content__right {
    width: 40%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    transition: 300ms;
    z-index: 5;
    cursor: pointer;
}

.content__right::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    z-index: -5;
    opacity: 0;
    transition: 300ms;
    box-shadow: 0 0px 15px 8px aqua;
}

.content__right:hover::after {
    opacity: 1;
}

.world_item__title {
    position: absolute;
    bottom: 15%;
    margin-left: 10px;
    font-size: 20px;
}

.world_item__subtitle {
    position: absolute;
    bottom: 5%;
    margin-left: 10px;
    color: gray;
}

.content_right__title {
    position: absolute;
    bottom: 15%;
    margin-left: 10px;
    font-size: 32px;
}

.content_right__subtitle {
    position: absolute;
    bottom: 5%;
    margin-left: 10px;
    color: gray;
}

.recent_news {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.recent__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.recent_line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-top: 30px;
}

.recent_item {
    transition: 300ms;
    color: gray;
}

.recent_item button {
    border: none;
    background-color: transparent;
}

.active {
    color: black;
}

.recent_item:hover {
    color: black;
}

.recent_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.recent_content__item {
    width: 400px;
    margin: 40px 10px 10px;
    border: 3px solid gray;
    padding: 20px;
    padding: 20px;
    transition: 300ms;
}

.recent_content__item:hover {
    color: white;
    background-color: black;
    border: 3px solid aqua;
}

.recent__image {
    width: 100%;
}

.imgg {
    width: 100%;
    height: 360px;
}

.recent_text {
    width: 100%;
    height: 300px;
}

.recent_text h2 {
    font-size: 30px;
    font-weight: bolder;
}

.recent_text h3 {
    font-size: 20px;
    color: gray;
    height: 130px;
    margin-top: 10px;
    overflow: hidden;
}

.look {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    background-color: black;
    color: aqua;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
}

.look:hover {
    background-color: aqua;
    color: black;
}

.more {
    width: fit-content;
    margin: 50px auto;
    border-bottom: 1px solid black;
}

.content_left__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .world_content {
        flex-direction: column;  
    }

    .content__left {
        width: 100%;
    }

    .content__right {
        width: 100%;
    }

    .top_text {
        font-size: 25px;
    }

    .uzb_item {
        margin: 5px;
    }

    .uzb_item__title {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .recent_content__item {
        width: 100%;
    }

    .content_top, .content_bottom {
        flex-direction: column;
    }

    .uzb_item {
        width: 90%;
    }

    .uzb_item:nth-child(3) {
        width: 90%;
    }

    .content_left__top {
        flex-direction: column;
    }

    .world__item {
        width: 90%;
    }

    .content__right {
        width: 90%;
        height: 400px;
    }

    .content_right__title {
        font-size: 22px;
    }

    .recent_item {
        margin-left: 20px;
    }
}

@media screen and (max-width: 540px) {
    .top_text {
        font-size: 18px;
    }

    .recent_line {
        border: none;
        overflow-x: scroll;
    }

    .top_new__image {
        height: 300px;
    }
}

@media screen and (max-width: 375px) {
    .recent_text {
        height: auto;
    }
}