@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  color: inherit;
  font-family: "Play", sans-serif;
}

.adv {
  width: 100%;
  margin-top: 150px;
}

.adv img {
  width: 100%;
}

:root {
  --bl: #000;
  --wh: #fff;
  --gr: #333;
  --aq: #00ffff;
  --yel: #ffff00;
}

::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  border-radius: 2px;
  background-color: black;
}

/* Конец хедера */
.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: black;
  color: white;
  margin-top: 70px;
}
.main .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main .container .container_topbar {
  width: 100%;
  padding: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #181717;
}
.main .container .container_topbar .container_topbar__left {
  width: 550px;
  font-family: "Comic Neue", cursive;
  padding: 20px;
}
.main .container .container_topbar .container_topbar__left h1 {
  font-size: 76px;
}
.main .container .container_topbar .container_topbar__left h4 {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.664);
  font-family: "Montseratt", sans-serif;
  line-height: 1.1;
  font-size: 18px;
}
.main .container .container_topbar .container_topbar__right {
  padding: 30px;
}
.main .container .container_main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 60px;
}
.main .container .container_main .container_main__item {
  width: 380px;
  height: 300px;
  background-color: #181717;
  margin: 30px;
  margin-top: 40px;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-box-shadow: 0px 0px 8px 8px transparent;
  box-shadow: 0px 0px 8px 8px transparent;
}
.main .container .container_main .container_main__item:hover {
  -webkit-box-shadow: 0px 0px 8px 8px #474545;
  box-shadow: 0px 0px 8px 8px #474545;
  background-color: #292828;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.main .container .container_main .container_main__item .container_main__item___top {
  width: 100%;
  height: 300px;
/*  background-image: url(../img/dadadadadsakdasdka.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.main .container .container_main .container_main__item .container_main__item___bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  font-size: 22px;
  line-height: 1.4;
  font-family: "Montseratt", sans-serif;
}
.main .container .container_main .container_main__item .container_main__item___bottom h5 {
  margin-left: 5px;
}
.bottom_left {
  font-size: 14px;
}
.main .container .container_main .container_main__item .container_main__item___bottom .bottom_right {
  cursor: pointer;
  position: relative;
  margin-left: 50px;
}
.main .container .container_main .container_main__item .container_main__item___bottom .bottom_right .img1 {
  display: none;
  -webkit-transition: 500ms;
  transition: 500ms;
  position: absolute;
  right: 0;
}
.main .container .container_main .container_main__item .container_main__item___bottom .bottom_right .img2 {
  -webkit-transition: 500ms;
  transition: 500ms;
  position: relative;
}

@media screen and (max-width: 1100px) {
  .main .container .container_main .container_main__item {
    width: 430px;
  }
}

@media screen and (max-width: 900px) {
  .main .container .container_main .container_main__item {
    width: 700px;
  }
  .wrapper .container .left__sidebar .left__sidebar__text {
    display: none;
  }
  .tests {
    width: 90%;
  }
  .main .container .container_main {
    justify-content: center;
  }
  .main .container .container_topbar {
    flex-direction: column;
  }
  .main .container .container_topbar .container_topbar__right {
    width: 100%;
    margin-top: 50px;
  }
  .main .container .container_topbar .container_topbar__right img {
    width: 70%;
    margin-left: 100px;
  }
}

@media screen and (max-width: 640px) {
  .content_header__left {
    font-size: 12px;
  }
  .right_item_f {
    font-size: 10px;
  }
}

@media screen and (max-width: 540px) {
  .main .container .container_topbar .container_topbar__left {
    width: 530px;
  }
}
@media screen and (max-width: 425px) {
  .main .container .container_topbar .container_topbar__left {
    width: 422px;
  }
  .main .container .container_topbar .container_topbar__left h1 {
    font-size: 36px;
    letter-spacing: 4px;
  }
  .main .container .container_topbar .container_topbar__right {
    margin-top: 0px;
  }
}
@media screen and (max-width: 414px) {
  .main .container .container_topbar .container_topbar__left h1 {
    font-size: 33px;
  }
  .main .container .container_main {
    justify-content: center;
    margin-bottom: 50px;
  }
  .main .container .container_main .container_main__item {
    margin: 0;
    margin-top: 20px;
  }
  .main .container .container_topbar .container_topbar__right img {
    width: 100%;
    margin-left: 0px;
  }
  .main .container .container_main .container_main__item:hover {
    transform: none;
  }
  .main .container .container_topbar .container_topbar__left {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .right_sidebar__title h2 {
    color: aqua;
    margin-bottom: 230px;
  }
  .right_sidebar__title {
    font-size: 18px;
    margin-top: -17px;
  }
}

@media screen and (max-width: 360px) {
  .main .container .container_main {
    margin-bottom: 20px;
  }
}