<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подкасты</title>
    <link rel="stylesheet" href="css/podcasts.css">
    <link rel="icon" type="img/svg" href="./img/sitelogo.svg">
</head>

<body>
     <!-- Верстка хедера -->
     
    <div class="adv">
        <img src="./img/reklama.png" alt="da">
    </div>
    <!-- Конец хедера -->

    <main class="main">
        <div class="container">
            <div class="container_topbar">
                <div class="container_topbar__left">
                    <h1>ПОДКАСТЫ</h1>
                    <h4>В своём стремлении повысить качество жизни, они забывают, что современная методология разработки играет важную роль в формировании первоочередных требований.</h4>
                </div>
                <div class="container_topbar__right">
                    <img src="./img/cuate.svg" alt="da">
                </div>
            </div>
            <div class="container_main">    
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container_main__item">
                    <div class="container_main__item___top" style="background-image: url(img/dadadadadsakdasdka.svg);"></div>
                    <div class="container_main__item___bottom">
                        <div class="bottom_left">
                            <h3>Чумовой Доктор</h3>
                            <h5>Жанр: медецина</h5>
                        </div>
                        <div class="bottom_right">
                            <button class="playyer">
                                <h3>Слушать</h3>
                                <!-- <img src="./img/lublufigmu.svg" alt="da"> -->
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
   

    <script>
        /* Открыть, когда кто-то нажимает на элемент span */
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
            document.body.style.overflowY = 'hidden'
        }

        /* Закрыть, когда кто-то нажимает на символ "x" внутри наложения */
        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            document.body.style.overflowY = 'scroll'
        }
    </script>
</body>

</html>