{% load static i18n %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title1 }} {{ article.title2 }}</title>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" type="img/svg" href="{% static 'img/sitelogo.svg' %}">
</head>

<body>
    <!-- Верстка хедера -->
    <div class="adv" style="margin-top: 0">
        <img src="{% static 'img/reklama.png' %}" alt="da">
    </div>

    {% include 'include/header.html' %}

    <div class="header_topbar" style="margin-top: 0">
        <div class="header_topbar__container">
            <div class="header_topbar__left">
                <div class="header_topbar__nav">
                    <ul class="header_topbar__menu">
                        <li class="topbar__item"><a href="{% url 'main' %}">Главная</a></li>
                        <li class="topbar__item">> </li>
                        <li class="topbar__item"><a href="{% url 'categories' %}">Статьи</a></li>
                        <li class="topbar__item">> </li>
                        <li class="topbar__item">
                            <h4>Статья</h4>
                        </li>
                    </ul>
                </div>
                <div class="header_topbar__title">
                    <h2>{{ article.title }}</h2>
                </div>
            </div>
            <div class="header_topbar__right">
                <div class="category"><a href="{% url 'category_view' article.categories.url %}">
                        <h3>{{ article.categories }}</h3>
                    </a></div>
            </div>
        </div>
    </div>

    <div class="state_main">
        <div class="state_main__container">
            <div class="state_main__top" style="background-image: url({{ article.image.url }});"></div>
        </div>
    </div>

    <div class="main_state__wrap">
        <div class="text__top">
            {{ article.description|safe }}
        </div>
    </div>
    <br>
    <hr>
    <br>
    

    <div class="more">
        <div class="more__container">
            <div class="more__title">
                <h2>Вам также может понравиться</h2>
            </div>
            <div class="more__content">


               {% for article_rand in rand_article %}

                   <div class="more__item">
                       <a href="{% url 'article_detail' article_rand.slug %}"><div class="more_item__img" style="background-image: url({{ article_rand.image.url }});"></div></a>

                       <div class="more_item__text">
                           <a href="{% url 'article_detail' article_rand.slug %}"><h2>{{ article_rand.short_title }}</h2></a>
                           <h3>{{ article_rand.short_description }}</h3>
                       </div>
                   </div>

               {% endfor %}








                <!-- Trigger the Modal -->

<!-- The Modal -->
{#                <div id="myModal" class="modal">#}
{##}
{#                    <!-- The Close Button -->#}
{#                    <span class="close">&times;</span>#}
{##}
{#                    <!-- Modal Content (The Image) -->#}
{#                    <img class="modal-content" id="img01">#}
{##}
{#                    <!-- Modal Caption (Image Text) -->#}
{#                    <div id="caption"></div>#}
{#                </div>#}




{#                <div class="more__item">#}
{#                    <a href="#"><div class="more_item__img" style="background-image: url({% static 'img/harasho.svg' %});"></div></a>#}
{#                    <div class="more_item__text">#}
{#                        <a href="#"><h2>Органический трафик попахивает безумием</h2></a>#}
{#                        <h3>С другой стороны, базовый вектор развития создаёт предпосылки для распределения внутренних#}
{#                            резервов и ресурсов.</h3>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">

        <!-- Модальное содержание -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2 class="modal__title">Мы в соц.сетях:</h2>
          <div class="modal_links">
              <a href="#"><img src="{% static 'img/ic_instagram.svg' %}" alt="da"></a>
              <a href="#"><img src="{% static 'img/Vector.svg' %}" alt="da"></a>
              <a href="#"><img src="{% static 'img/facebook.svg' %}" alt="da"></a>
          </div>
        </div>
      
      </div>

    {% include 'include/footer.html' %}

     
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>
    
    <script>
        /* Открыть, когда кто-то нажимает на элемент span */
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
            document.body.style.overflowY = 'hidden'
        }

        /* Закрыть, когда кто-то нажимает на символ "x" внутри наложения */
        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            document.body.style.overflowY = 'scroll'
        }
    </script>
</body>

</html>