{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }}</title>
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/paginator.css' %}">
    <link rel="stylesheet" href="{% static 'css/button_more.css' %}">

    <link rel="icon" href="{% static 'img/sitelogo.svg' %}">
</head>
<body>
     <!-- Верстка хедера -->
     
    <div class="adv" style="margin-top: 0">
        <img src="{% static 'img/reklama.png' %}" alt="da">
    </div>
{#     {% include 'include/header.html' %}#}
     {% include 'include/header_for_categories.html' %}

    <div class="wrapper">
        <div class="container">
            <div class="left__sidebar">
                <div class="left__sidebar__text">
                    <div class="left_sidebar__title">
                        <a href="{% url 'categories' %}"><h2>Все Статьи</h2></a>
                    </div>

                    {% for category in categories %}
{#                        <div class="left_sidebar__link"><a href="{% url 'category_view' category.url %}">{{ category.name }}</a></div>#}
{#                        <div class="left_sidebar__link"><a style="border-bottom: 1px solid black;" href="{% url 'category_view' category.url %}">{{ category.name }}</a></div>#}
                        <div class="left_sidebar__link"><a href="{% url 'category_view' category.url %}">{{ category.name }}</a></div>
                    {% endfor %}
{#                    <div class="left_sidebar__link"><a style="border-bottom: 1px solid black;" href="./forth.html">Люди</a></div>#}
{#                    <div class="left_sidebar__link"><a href="./forth2.html">Развлечения</a></div>#}
{#                    <div class="left_sidebar__link"><a href="./forth3.html">Стиль</a></div>#}
{#                    <div class="left_sidebar__link"><a href="./forth4.html">Бизнес</a></div>#}
{#                    <div class="left_sidebar__link"><a href="./forth5.html">Культура</a></div>#}
{#                    <div class="left_sidebar__link"><a href="./forth7.html">Развитие</a></div>#}
{#                    <div class="left_sidebar__link"><a href="./forth6.html">Спорт</a></div>#}
                </div>
            </div>
            <div class="right__sidebar">
                <div class="right_sidebar__image">
                    <div class="right_sidebar__text">
                        <div class="right_sidebar__title">
                         <a href="#"><h2>{{ category.name|upper }}</h2></a>
                        </div>
                        <div class="right_sidebar__subtitle">
                            <h4>{{ category.description }}</h4>
                        </div>
                    </div>
                    <div class="right_imgg">
                        <img src="{% static 'img/cuate.svg' %}" alt="da" height="250px">
                    </div>
                </div>
               
                <!-- Выбор редакции -->
                <div class="redact_wrap">
                    <div class="redact_container">
                        <div class="redact__title">
    
                        </div>
                        <div class="redact__content all-articles">

                            {% for article in articles %}
{#                        {% for article in page_obj %}#}
                                {% if forloop.last %}
                                    <div class="redact_item article last-article" data-article-date="{{ article.date_created|date:"Y-m-d H:i:s" }}" category-id="{{ article.categories_id }}">
                                    {% else %}
                                    <div class="redact_item article">
                                {% endif %}


                                <div class="redact_left">
                                    <div class="redact_left__logo"
                                         style="background-image: url({{ article.image.url }});">

                                    </div>
                                    <div class="redact_left__text">
                                        <div class="redact_date">
                                            <h3>{{ article.date_created|date:"j F Y" }}</h3>
                                        </div>
                                        <div class="redact_title">
                                            <a href="{% url 'article_detail' article.slug %}">
                                                <h2>{{ article.title }}</h2></a>
                                        </div>
                                        <div class="redact_subtitle">
                                            <h3>{{ article.short_description }}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="redact_right">
                                    <div class="redact_right__logo">
                                        <a href="#"><img src="{% static 'img/ic_arrow-up-right12.svg' %}"
                                                         alt="arrow"></a>
                                    </div>
                                    <div class="redact_ending">
                                        <a href="#"><h3>{{ article.categories }}</h3></a>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}




                        </div>
                    </div>

{#                    {% if page_obj.has_other_pages %}#}
{#                        <nav aria-label="main-navigation" class="paginate wrapper">#}
{#                            <ul>#}
{#                                {% if page_obj.has_previous %}#}
{#                                    <li><a href="?page={{ page_obj.previous_page_number }}">&lang;</a></li>#}
{#                                {% else %}#}
{#                                    <li>#}
{#                                        <span class="page-link">&lang;</span>#}
{#                                    </li>#}
{#                                {% endif %}#}
{#                                {% for i in page_obj.paginator.page_range %}#}
{#                                    {% if page_obj.number == i %}#}
{#                                        <li><a href="" class="active">{{ i }}</a></li>#}
{#                                    {% elif i > page_obj.number|add:-3 and i < page_obj.number|add:3 %}#}
{#                                        <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{##}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                                {% if page_obj.has_next %}#}
{#                                    <li><a href="?page={{ page_obj.next_page_number }}">&rang;</a></li>#}
{#                                {% else %}#}
{#                                    <li>#}
{#                                        <span class="page-link">&rang;</span>#}
{#                                    </li>#}
{#                                {% endif %}#}
{#                            </ul>#}
{#                        </nav>#}
{#                    {% endif %}#}
                    {% if articles.count >= 2 %}
                        <div class="see-more-container">
                            <button type="button" class="see-more noselect" id="see-more-category">Показать еще...
                            </button>
                        </div>
                    {% endif %}
{#                    <div class="eshe">#}
{#                        <a href="#"><h3 style="text-decoration: underline;">Показать ещё ˅</h3></a> #}
{#                     </div>#}
                </div>
            </div>
        </div>
    </div>

    {% include 'include/footer.html' %}

     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
             crossorigin="anonymous"></script>
     <script>
         $("#see-more-category").on('click', function (){
             let seeMoreCategory = $('.last-article').attr('data-article-date')
             let categoryId = $('.last-article').attr('category-id')
             {#console.log(seeMoreCategory)#}
             let data = {
                 seeMoreCategory: seeMoreCategory,
                 categoryId: categoryId,
             }
             $('.redact_item').removeClass('last-article')
             $('.redact_item').removeAttr('data-article-date')
             $.ajax({
                 method: "GET",
                 dataType: "json",
                 data: data,
                 url: "{% url 'see-more-category' %}",
                 success: function (data){
                     let result = data['data']
                     console.log("Hello, how's life !!! "+result)
                     if (!result) {
                         $(".see-more").css('display', 'none')
                     } else {
                         $.each(result, function (key, obj){
                             if (obj['last-article']){
                                 $('.all-articles').append(
                                     '<div class="redact_item article last-article" data-article-date="'+ obj['date_for'] +'"  category-id="'+ obj['cat-id'] +'">' +
                                     '<div class="redact_left"> <div class="redact_left__logo" style="background-image: url('+ obj['image'] +');">'+
                                 '</div> <div class="redact_left__text"> <div class="redact_date"> <h3>'+ obj['date_created'] +'</h3> </div>'+
                                     '<div class="redact_title"> <a href="'+ obj['article_detail'] +'">'+
                                             '<h2>'+ obj['title'] +'</h2></a> </div> <div class="redact_subtitle">'+
                                         '<h3>'+ obj['short_description']+'</h3> </div> </div> </div>'+
                             '<div class="redact_right"> <div class="redact_right__logo"> <a href="#"><img src="{% static 'img/ic_arrow-up-right12.svg' %}" alt="arrow"></a> </div>'+
                             '<div class="redact_ending"> <a href="#"><h3>'+ obj['category'] +'</h3></a> </div> </div> </div>'
                                 )
                             } else {
                                 $('.all-articles').append(
                                 '<div class="redact_item article">'+
                                 '<div class="redact_left"> <div class="redact_left__logo" style="background-image: url('+ obj['image'] +');">'+
                                 '</div> <div class="redact_left__text"> <div class="redact_date"> <h3>'+ obj['date_created'] +'</h3> </div>'+
                                 '<div class="redact_title"> <a href="'+ obj['article_detail'] +'">'+
                                 '<h2>'+ obj['title'] +'</h2></a> </div> <div class="redact_subtitle">'+
                                 '<h3>'+ obj['short_description']+'</h3> </div> </div> </div>'+
                                 '<div class="redact_right"> <div class="redact_right__logo"> <a href="#"><img src="{% static 'img/ic_arrow-up-right12.svg' %}" alt="arrow"></a> </div>'+
                                 '<div class="redact_ending"> <a href="#"><h3>'+ obj['category'] +'</h3></a> </div> </div> </div>'
                                 )
                             }
                         })

                     }
                     console.log("Ajax Work Currently")
                     {#console.log(result)#}
                     {#alert(result)#}

                 }
             })

         })


     </script>

        
    <script>
        /* Открыть, когда кто-то нажимает на элемент span */
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
            document.body.style.overflowY = 'hidden'
        }

        /* Закрыть, когда кто-то нажимает на символ "x" внутри наложения */
        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            document.body.style.overflowY = 'scroll'
        }
    </script>
</body>
</html>