{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все статьи</title>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" type="img/svg" href="{% static 'img/sitelogo.svg' %}">

</head>

<body>
    <!-- Верстка хедера -->

    <!-- Конец хедера -->
    <div class="adv" style="margin-top: 00px;">
        <img src="{% static 'img/reklama.png' %}" alt="da">
    </div>

    {% include 'include/header.html' %}

    <!-- Левая панель и правый сайдбар -->
    <div class="wrapper" style="margin-top: 0">
        <div class="container">
            <div class="left__sidebar">
                <div class="left__sidebar__text">
                    <div class="left_sidebar__title">
                        <h2>Все Статьи</h2>
                    </div>
                    {% for category in categories %}
                        <div class="left_sidebar__link"><a href="#{{ category.url }}">{{ category.name }}</a></div>
                    {% endfor %}

{#                    <div class="left_sidebar__link"><a href="#">Люди</a></div>#}
{#                    <div class="left_sidebar__link"><a href="#">Развлечения</a></div>#}
{#                    <div class="left_sidebar__link"><a href="#">Стиль</a></div>#}
{#                    <div class="left_sidebar__link"><a href="#">Бизнес</a></div>#}
{#                    <div class="left_sidebar__link"><a href="#">Культура</a></div>#}
{#                    <div class="left_sidebar__link"><a href="#">Развитие</a></div>#}
{#                    <div class="left_sidebar__link"><a href="#">Спорт</a></div>#}
                </div>
            </div>
            <div class="right__sidebar">
                <div class="right_sidebar__image">
                    <div class="category"><a href="#{{ bestArticle.categories.url }}"><h3>{{ bestArticle.categories }}</h3></a></div>
                </div>
                <div class="right_sidebar__text">
                    <div class="right_sidebar__title">
                        <a href="{% url 'article_detail' bestArticle.slug %}"><h2>{{ bestArticle.title }}</h2></a>
                    </div>
                    <div class="right_sidebar__subtitle">
                        <h4>{{ bestArticle.short_description }}</h4>
                    </div>
                    <div class="right_sidebar__endtitle">
                        <h5><a href="{% url 'article_detail' bestArticle.slug %}">Читать всё</a></h5>
                    </div>
                </div>
                <!-- Выбор редакции -->
                <div class="redact_wrap">
                    <div class="redact_container">
                        <div class="redact__title">
                            <h1>Все статьи</h1>
                        </div>
                        <div class="redact__content">
                            {% for article in articles %}



                            <div class="redact_item">
                                <div class="redact_left">
                                    <div class="redact_left__logo" style="background-image: url({{ article.image.url }});">
                                        
                                    </div>
                                    <div class="redact_left__text">
                                        <div class="redact_date">
                                            <h3>{{ article.date_created|date:"j F Y" }}</h3>
                                        </div>
                                        <div class="redact_title">
                                            <a href="{% url 'article_detail' article.slug %}"><h2>{{ article.title }}</h2></a>
                                        </div>
                                        <div class="redact_subtitle">
                                            <h3>{{ article.short_description }}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="redact_right">
                                    <div class="redact_right__logo">
                                        <a href="{% url 'article_detail' article.slug %}"><img src="{% static 'img/ic_arrow-up-right12.svg' %}" alt="arrow"></a>
                                    </div>
                                    <div class="redact_ending" style="min-width: 125px">
                                        <a href="#{{ article.categories.url }}"><h3 style="display: flex; justify-content: center">{{ article.categories }}</h3></a>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                                </div>
                            </div>
                            <div class="eshe">
                               <a href="#see_more"><h3 style="text-decoration: underline;">Показать ещё ˅</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Swiper -->


    </div>
    
        
        <hr>
        <div class="slider_container">
           <div class="test_leviy">
            <h2>ТЕCТЫ</h2>
            <h4>Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний неоднозначны и будут описаны максимально подробно.</h4>
           </div>
           <div class="test_praviy">
               <div class="swiper-container">
                   <div class="swiper-wrapper">
                       <div class="swiper-slide">
                        <div class="test_item">
                            <div class="test_img" style="background-image: url(img/rectda.svg);"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                       </div>
                       <div class="swiper-slide">
                        <div class="test_item">
                            <div class="test_img" style="background-image: url(img/rectda.svg);"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                       </div>
                       <div class="swiper-slide">
                        <div class="test_item">
                            <div class="test_img" style="background-image: url(img/rectda.svg);"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                       </div>
                       <div class="swiper-slide">
                        <div class="test_item">
                            <div class="test_img" style="background-image: url(img/rectda.svg);"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                       </div>
                       <div class="swiper-slide">
                        <div class="test_item">
                            <div class="test_img" style="background-image: url(img/rectda.svg);"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                       </div>
                       <div class="swiper-slide">
                        <div class="test_item">
                            <div class="test_img" style="background-image: url(img/rectda.svg);"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                       </div>
                       <div class="swiper-slide">
                        <div class="test_item">
                            <div class="test_img" style="background-image: url(img/rectda.svg);"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                       </div>
                   </div>
                   <div class="swiper-button-prev"></div>
                   <div class="swiper-button-next"></div>
               </div>
           </div>
        </div>

        <!-- <div class="tests">
            <div class="test_left">
                <h2>ТЕCТЫ</h2>
                <h4>Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний неоднозначны и будут описаны максимально подробно.</h4>
            </div>
            <div class="tests_wrap">
                <div class="tests__container">
                    <div class="test_container__content">
                        <div class="test_item">
                            <div class="test_img"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                        <div class="test_item">
                            <div class="test_img"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                        <div class="test_item">
                            <div class="test_img"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                        <div class="test_item">
                            <div class="test_img"></div>
                            <div class="test_text">
                                <div class="test_heading">
                                    <h2>Есть над чем задуматься: частокол на границе починят!</h2>
                                </div>
                                <div class="test_sub">
                                    <h3>Как принято считать, представители современных социальных резервов формируют
                                        глобальную экономическую сеть и при этом - заблокированы в рамках своих собственных
                                        рациональных ограничений.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        </div> -->
        <!-- Слайдер -->
        <div class="slider">
            <div class="slider__first">
                <div class="slider__first__header">
                    <div class="slider_first__title">
                        <h1>ПОДКАСТЫ</h1>
                    </div>
                    <div class="slider_first__btn">
                        <a href="#">Перейти к подкасту</a>
                    </div>
                </div>
                <div class="first_slider__content">
                    <div class="slider__first_img" style="background-image: url(img/bgpodcast.svg);"></div>
                    <div class="slider__first_text">
                        <div class="slider__first_title">
                            <h2>Бежать</h2>
                        </div>
                        <div class="slider__first_subtitle">
                            <h3>Автор: Абадихин Игорь & Студия Main post</h3>
                        </div>
                        <div class="slider__first_endtitle">
                            <h4>Это подкаст о мире, где беженцев сегодня больше, чем во времена Второй мировой. И о
                                людях, которые ищут в этом мире пристанище. В каждом эпизоде мы рассказываем историю
                                очередного беглеца. Кто-то сбежал от гражданской войны в Европу. Кто-то — из Европы в
                                Россию. А кто-то уехал из России, потому что не смог обрести здесь дом.</h4>
                        </div>
                        <div class="slider_links_wrap">
                            <div class="first_slider_links__title">
                                <h3>Доступно на:</h3>
                            </div>
                            <div class="first_slider__links">
                                <div class="first_slider__link">
                                    <a href="#"><img src="./img/image1.svg" alt="link"></a>
                                </div>
                                <div class="first_slider__link">
                                    <a href="#"><img src="./img/image2.svg" alt="link"></a>
                                </div>
                                <div class="first_slider__link">
                                    <a href="#"><img src="./img/image3.svg" alt="link"></a>
                                </div>
                                <div class="first_slider__link">
                                    <a href="#"><img src="./img/icon_add1.svg" alt="link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="first_slider__audio">
                            <div class="first_slider__audio__title">
                                <h3>Эпизоды:</h3>
                            </div>
                            <div class="audio_main__block">
                                <div class="first_slider__audio__subtitle">
                                    <h3>Эпизод I. Архипелаг Бежлаг</h3>
                                </div>
                                <audio class="audio" src="./audios/Eminem - Godzilla.flac" controls></audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>


    {% include 'include/footer.html' %}

    <script>
        /* Открыть, когда кто-то нажимает на элемент span */
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
            document.body.style.overflowY = 'hidden'
        }

        /* Закрыть, когда кто-то нажимает на символ "x" внутри наложения */
        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            document.body.style.overflowY = 'scroll'
        }
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <!-- Swiper JS -->
            <script src="./scripts/swiper.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".swiper-container", {
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    }
                });

            </script>

</body>

</html>