{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Post</title>
    <link rel="stylesheet" href="{% static 'css/style-dist-dist.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" type="img/svg" href="{% static 'img/sitelogo.svg' %}">
</head>

<body>
    <!-- Верстка хедера -->
    <div class="adv">
        <a href="#"><img src="{% static 'img/reklama.png' %}" alt="da"></a>
    </div>
    {% include "include/header.html" %}
    
    <!-- Конец хедера -->

    <!-- Верстка верхнего блока с новостями -->
    <div class="top_posts__wrap">
        <div class="top_post__container">

                {% for article in firstArticle %}
                    <div class="top_post_item_1" style="background-image: url({{ article.image.url }}); ">
                        <div class="news_link">
                            <a href="{% url 'article_detail' article.slug %}"><img src="{% static 'img/ic_arrow-up-right.svg' %}" alt="arrow"></a>
                        </div>
                        <div class="news_content__row">
                            <div class="news_content__title">
                                <a href="#">
                                    <h3>{{ article.categories }}</h3>
                                </a>
                            </div>
                            <div class="news_content__subtitle">
                                <h1>{{ article.title1 }}</h1>
                            </div>
                            <div class="news_content__endtitle" style="width: auto">
                                <h1>{{ article.title2 }}</h1>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            <div class="other">
                {% for article in secondArticle %}
                    <div class="top_post_item_2" style="background-image: url({{ article.image.url }}); ">
                        <div class="news_link">
                            <a href="{% url 'article_detail' article.slug %}"><img src="{% static 'img/ic_arrow-up-right.svg' %}" alt="arrow"></a>
                        </div>
                        <div class="news_content__title">
                            <a href="#">
                                <h3>{{ article.categories }}</h3>
                            </a>
                        </div>
                        <div class="news_content__subtitle second">
                            <h3>{{ article.title2 }}</h3>
                        </div>
                        <div class="news_content__endtitle third">
                            <h1>{{ article.title1 }}</h1>
                        </div>
                    </div>
                {% endfor %}


            {% for article in thirdArticle %}

                <div class="top_post_item_3" style="background-image: url({{ article.image.url }});">
                    <div class="news_link">
                        <a href="{% url 'article_detail' article.slug %}"><img src="{% static 'img/ic_arrow-up-right.svg' %}" alt="arrow"></a>
                    </div>
                    <div class="news_content__title">
                        <a href="#">
                            <h3>{{ article.categories }}</h3>
                        </a>
                    </div>
                    <div class="news_content__subtitle second">
                        <h3>{{ article.title2 }}</h3>
                    </div>
                    <div class="news_content__endtitle third">
                        <h1>{{ article.title1 }}</h1>
                    </div>
                </div>

            {% endfor %}

            </div>
        </div>

        <!-- Новостная линия -->
        <div class="news_bottomline">
            <div class="news_bottomline__content">
                <h3>{{ ticker.ticker }}</h3>
            </div>
        </div>


{#        Горячие новости#}
        <div class="content_box">
            <div class="content_container">
                <div class="content_header">
                    <div class="content_header__right">
                        <div class="right_item_f">
                            <h1>
                                {% trans "Горячие нoвoсти" %}
                            </h1>
                        </div>
                        <div class="right_item_t">
                            <a href="#">
                                <h3>{% trans 'Обновить новости' %}</h3>
                            </a>
                            <img src="{% static 'img/ic_refresh button.svg' %}" alt="refr">
                        </div>
                    </div>
                </div>
                <div class="content_items">


                    {% for new in news %}

                        {% if new.image %}

                            <div class="content_items_elem">
                                <div class="content_block">
                                    <div class="content__image"
                                         style="background-image: url({{ new.image.url }});">
                                    </div>
                                    <div class="content_date">
                                        <div class="content_num">{{ new.date_created|date:"j.n.Y"}}</div>
                                        <div class="content_year">{{ new.date_created|date:"H:m" }}</div>
                                    </div>
                                </div>
                                <div class="content_text">
                                    <div class="content_text__text">
                                        <h3>{{ new.title }}</h3>
                                    </div>
                                    <div class="content_text__image">
                                        <a href="./second.html"><img src="{% static 'img/ic_arrow-up-right12.svg' %}"
                                                                     alt="arr"></a>
                                    </div>
                                </div>
                            </div>

                        {% else %}

                            <div class="content_items_elem">
                                <div class="second_content__content">
                                    <div class="second_logo">
                                        <a href="./second.html"><img src="{% static 'img/ic_arrow-up-right12.svg' %}"
                                                                     alt="arr"></a>
                                    </div>
                                    <div class="second_text">
                                        <h2>{{ new.title }}</h2>
                                    </div>
                                    <div class="second_date">
                                        <div class="second_num">{{ new.date_created|date:"j.n.Y"}}</div>
                                        <div class="second_year">{{ new.date_created|date:"H:m" }}</div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

        <!-- Статьи -->
        <div class="states_wrap">
            <div class="states_wrap__container">
                <div class="states_container__header">
                    <div class="states_title">
                        <h1>{% trans 'СТАТЬИ' %}</h1>
                    </div>
                    <div class="states_look__btn">
                        <a href="#">{% trans 'Смотреть больше' %}</a>
                    </div>
                </div>
            </div>
            <div class="states_content">


                {% for article in article1 %}
                    <div class="state_item">
                    <a href="{% url 'article_detail' article.slug %}">
                        <div class="state_pict1" style="background-image: url({{ article.image.url }});">
                            <div class="state_end__title">
                                <div class="state_date">
                                    <h4>{{ article.date_created|date:"j F" }}</h4>
                                </div>
                                <div class="state_num">
                                    <img src="{% static 'img/ic_eye.svg' %}" alt="ic_eye">
                                    <h4>{{ article.views }}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="state_article">
                        <div class="state_article__title">
                            <a href="{% url 'category_view' article.categories.url %}">
                                <h3>{{ article.categories }}</h3>
                            </a>
                        </div>
                        <div class="state_article__subtitle">
                            <a href="{% url 'article_detail' article.slug %}">
                                <h2>{{ article.short_title }}</h2>
                            </a>
                        </div>
                        <div class="state_article__subsubtitle">
                            <h3>{{ article.short_description }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for article in article2 %}
                    <div class="state_item">
                    <a href="{% url 'article_detail' article.slug %}">
                        <div class="state_pict1" style="background-image: url({{ article.image.url }});">
                            <div class="state_end__title">
                                <div class="state_date">
                                    <h4>{{ article.date_created|date:"j F" }}</h4>
                                </div>
                                <div class="state_num">
                                    <img src="{% static 'img/ic_eye.svg' %}" alt="ic_eye">
                                    <h4>{{ article.views }}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="state_article">
                        <div class="state_article__title">
                            <a href="{% url 'category_view' article.categories.url %}">
                                <h3>{{ article.categories }}</h3>
                            </a>
                        </div>
                        <div class="state_article__subtitle">
                            <a href="{% url 'article_detail' article.slug %}">
                                <h2>{{ article.short_title }}</h2>
                            </a>
                        </div>
                        <div class="state_article__subsubtitle">
                            <h3>{{ article.short_description }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for article in article3 %}
                    <div class="state_item">
                    <a href="{% url 'article_detail' article.slug %}">
                        <div class="state_pict1" style="background-image: url({{ article.image.url }});">
                            <div class="state_end__title">
                                <div class="state_date">
                                    <h4>{{ article.date_created|date:"j F" }}</h4>
                                </div>
                                <div class="state_num">
                                    <img src="{% static 'img/ic_eye.svg' %}" alt="ic_eye">
                                    <h4>{{ article.views }}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="state_article">
                        <div class="state_article__title">
                            <a href="{% url 'category_view' article.categories.url %}">
                                <h3>{{ article.categories }}</h3>
                            </a>
                        </div>
                        <div class="state_article__subtitle">
                            <a href="{% url 'article_detail' article.slug %}">
                                <h2>{{ article.short_title }}</h2>
                            </a>
                        </div>
                        <div class="state_article__subsubtitle">
                            <h3>{{ article.short_description }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for article in article4 %}
                    <div class="state_item">
                    <a href="{% url 'article_detail' article.slug %}">
                        <div class="state_pict1" style="background-image: url({{ article.image.url }});">
                            <div class="state_end__title">
                                <div class="state_date">
                                    <h4>{{ article.date_created|date:"j F" }}</h4>
                                </div>
                                <div class="state_num">
                                    <img src="{% static 'img/ic_eye.svg' %}" alt="ic_eye">
                                    <h4>{{ article.views }}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="state_article">
                        <div class="state_article__title">
                            <a href="{% url 'category_view' article.categories.url %}">
                                <h3>{{ article.categories }}</h3>
                            </a>
                        </div>
                        <div class="state_article__subtitle">
                            <a href="{% url 'article_detail' article.slug %}">
                                <h2>{{ article.short_title }}</h2>
                            </a>
                        </div>
                        <div class="state_article__subsubtitle">
                            <h3>{{ article.short_description }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for article in article5 %}
                    <div class="state_item">
                    <a href="{% url 'article_detail' article.slug %}">
                        <div class="state_pict1" style="background-image: url({{ article.image.url }});">
                            <div class="state_end__title">
                                <div class="state_date">
                                    <h4>{{ article.date_created|date:"j F" }}</h4>
                                </div>
                                <div class="state_num">
                                    <img src="{% static 'img/ic_eye.svg' %}" alt="ic_eye">
                                    <h4>{{ article.views }}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="state_article">
                        <div class="state_article__title">
                            <a href="{% url 'category_view' article.categories.url %}">
                                <h3>{{ article.categories }}</h3>
                            </a>
                        </div>
                        <div class="state_article__subtitle">
                            <a href="{% url 'article_detail' article.slug %}">
                                <h2>{{ article.short_title }}</h2>
                            </a>
                        </div>
                        <div class="state_article__subsubtitle">
                            <h3>{{ article.short_description }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for article in article6 %}
                    <div class="state_item">
                    <a href="{% url 'article_detail' article.slug %}">
                        <div class="state_pict1" style="background-image: url({{ article.image.url }});">
                            <div class="state_end__title">
                                <div class="state_date">
                                    <h4>{{ article.date_created|date:"j F" }}</h4>
                                </div>
                                <div class="state_num">
                                    <img src="{% static 'img/ic_eye.svg' %}" alt="ic_eye">
                                    <h4>{{ article.views }}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="state_article">
                        <div class="state_article__title">
                            <a href="{% url 'category_view' article.categories.url %}">
                                <h3>{{ article.categories }}</h3>
                            </a>
                        </div>
                        <div class="state_article__subtitle">
                            <a href="{% url 'article_detail' article.slug %}">
                                <h2>{{ article.short_title }}</h2>
                            </a>
                        </div>
                        <div class="state_article__subsubtitle">
                            <h3>{{ article.short_description }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <!--Лучшая статья -->
    {% for article in bestArticle %}
        <div class="podcast_wrap">
            <div class="podcast_pre__title">
                <div class="pre_title">
                    <h2>{% trans 'Лучшая Статья' %}</h2>
                </div>
                <div class="pre_subtitle">
                    <h3>{{ article.title1 }} {{ article.title2 }}</h3>
                </div>
            </div>
            <div class="podcast_container">
                {% if article.video %}
                <iframe class="podcast__video"
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/{{ article.video|cut:"https://www.youtube.com/watch?v=" }}"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
                {% else %}
                    <img class="best_state__image" src="{{ article.image.url }}" width="700" height="400"  alt="bestimages">
                {% endif %}
                <div class="podcast__content">
                    <div class="podcast__text">
                        <h1>{{ article.title }}</h1>
                    </div>
                    <div class="podcast__subtext">
                        <h4>{{ article.short_description }}</h4>
                    </div>
                    <div class="podcast__btn">
                        <a href="{% url 'article_detail' article.slug %}">
                            <h3>{% trans 'Читать Статью' %}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

        <!-- Видео -->
        <div class="states_wrap">
            <div class="states_wrap__container">
                <div class="states_container__header">
                    <div class="states_title">
                        <h1>{% trans 'ВИДЕО' %}</h1>
                    </div>
                    <div class="states_look__btn">
                        <a href="#">{% trans 'Смотреть больше' %}</a>
                    </div>
                </div>
            </div>
            <div id="vid" class="video_content">
                <div class="video_item">
                    <!-- <video width="100%" controls src="./videos/telegram-cloud-document-2-5327936883789926509.mp4"
                        class="video_img">
                        <a href="#"><img src="./img/ic_play-circle.svg" alt="play"></a>
                    </video> -->
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/{{ video.link1|cut:"https://www.youtube.com/watch?v="}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="video_cont">
                        <a href="https://www.google.com/"><h3>{{ video.title1 }}</h3></a>
                    </div>
                </div>
                <div class="video_item">
                    <!-- <video width="100%" controls src="./videos/telegram-cloud-document-2-5327936883789926509.mp4"
                        class="video_img">
                        <a href="#"><img src="./img/ic_play-circle.svg" alt="play"></a>
                    </video> -->
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/{{ video.link2|cut:"https://www.youtube.com/watch?v="}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="video_cont">
                        <a href="https://www.google.com/"> <h3>{{ video.title2 }}</h3></a>
                       
                    </div>
                </div>
                <div class="video_item">
                    <!-- <video width="100%" controls src="./videos/telegram-cloud-document-2-5327936883789926509.mp4"
                        class="video_img">
                        <a href="#"><img src="./img/ic_play-circle.svg" alt="play"></a>
                    </video> -->
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/{{ video.link3|cut:"https://www.youtube.com/watch?v="}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="video_cont">
                        <a href="https://www.google.com/"><h3>{{ video.title3 }}</h3></a>
                        
                    </div>
                </div>
                <div class="video_item">
                    <!-- <video width="100%" controls src="./videos/telegram-cloud-document-2-5327936883789926509.mp4"
                        class="video_img">
                        <a href="#"><img src="./img/ic_play-circle.svg" alt="play"></a>
                    </video> -->
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/{{ video.link4|cut:"https://www.youtube.com/watch?v="}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="video_cont">
                        <a href="https://www.google.com/"><h3>{{ video.title4 }}</h3></a>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Подкасты -->
        <div class="slider">
            <div class="slider__first">
                <div class="slider__first__header">
                    <div class="slider_first__title">
                        <h1>{% trans 'ПОДКАСТЫ' %}</h1>
                    </div>
                    <div class="slider_first__btn">
                        <a href="{{ podcast.link }}">{% trans "Перейти к подкасту" %}</a>
                    </div>
                </div>
                <div class="first_slider__content">
                    <div class="slider__first_img" style="background-image: url({{ podcast.image.url }});"></div>
                    <div class="slider__first_text">
                        <div class="slider__first_title">
                            <h2>{{ podcast.genre }}</h2>
                        </div>
                        <div class="slider__first_subtitle">
                            <h3>Автор: {{ podcast.author }}</h3>
                        </div>
                        <div class="slider__first_endtitle">
                            <h4>{{ podcast.description }}</h4>
                        </div>
                        <div class="slider_links_wrap">
                            <div class="first_slider_links__title">
                                <h3>{% trans 'Доступно на' %}:</h3>
                            </div>
                            <div class="first_slider__links">
                                <div class="first_slider__link">
                                    <a href="https://www.google.ru/"><img src="{% static 'img/image1.svg' %}" alt="link"></a>
                                </div>
                                <div class="first_slider__link">
                                    <a href="https://www.google.ru/"><img src="{% static 'img/image2.svg' %}" alt="link"></a>
                                </div>
                                <div class="first_slider__link">
                                    <a href="https://www.google.ru/"><img src="{% static 'img/image3.svg' %}" alt="link"></a>
                                </div>
                                <div class="first_slider__link">
                                    <a href="https://www.google.ru/"><img src="{% static 'img/icon_add1.svg' %}" alt="link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="first_slider__audio">
                            <!-- <div class="first_slider__audio__title">
                                <h3>Эпизоды:</h3>
                            </div> -->
                            <div class="audio_main__block">
                                <div class="first_slider__audio__subtitle">
                                    <h3>{{ podcast.title }}</h3>
                                </div>
{#                                <audio class="audio" src="{% static 'audio/Eminem - Godzilla.flac' %}" controls></audio>#}
                                <audio class="audio" src="{{ podcast.file.url }}" type="audio/mpeg" controls></audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Тесты -->
        <div id="test" class="tests_wrap">
            <div class="tests__container">
                <div class="states_container__header">
                    <div class="states_title">
                        <h1>{% trans 'ТЕСТЫ' %}</h1>
                    </div>
                </div>
                <!-- Swiper -->
                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper">

                        {% for test in tests %}

                            <div class="swiper-slide">
                                <div class="test_item">
                                    <div class="test_img" style="background-image: url({{ test.picture.url }});">
                                        <div class="da">
                                            <a href="{{ test.link }}"><img src="{% static 'img/ic_arrow-up-right.svg' %}" width="80px"
                                                    height="80px" alt="da"></a>
                                        </div>
                                    </div>
                                    <div class="test_text">
                                        <div class="test_heading">
                                            <a href="{{ test.link }}">
                                                <h2>{{ test.title }}</h2>
                                            </a>

                                        </div>
                                        <div class="test_perc">
                                            <div class="perc_left">
                                                <h4>Вопросов: {{ test.questions }} </h4>
                                            </div>
                                            <div class="perc_right">
                                                <h4>Время прохождения: {{ test.passage_time }} мин.</h4>
                                            </div>
                                        </div>
                                        <div class="test_sub">
                                            <h3>{{ test.description }}</h3>
                                        </div>
                                        <div class="test_compl">

                                            <a href="{{ test.link }}">
                                                <h3>{% trans 'Пройти тест' %}</h3>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                    <div style="color: black;" class="swiper-button-next"></div>
                    <div style="color: black;" class="swiper-button-prev"></div>
                </div>

            </div>

            <!-- Выбор редакции -->
            <div class="redact_wrap">
                <div class="redact_container">
                    <div class="redact__title">
                        <h1>{% trans 'ВЫБОР РЕДАКЦИИ' %}</h1>
                    </div>
                    <div class="redact__content">


                        <div class="redact_item">
                            <div class="redact_left">
                                <a class="redact_left__logo" href="{% url 'article_detail' article7.slug %}"
                                   style="background-image: url({{ article7.image.url }});">
                                </a>
                                <div class="redact_left__text">
                                    <div class="redact_date">
                                        <h3>{{ article7.date_created|date:"j F Y"}}</h3>
                                    </div>
                                    <div class="redact_title">
                                        <a href="{% url 'article_detail' article7.slug %}">
                                            <h2>
                                                {{ article7.title }}
                                            </h2>
                                        </a>
                                    </div>
                                    <div class="redact_subtitle">
                                        <h3>
                                            {{ article7.short_description }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="redact_right">
                                <div class="redact_ending">
                                    <a href="{% url 'category_view' article7.categories.url %}">
                                        <h3>{{ article7.categories }}</h3>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="redact_item">
                            <div class="redact_left">
                                <a class="redact_left__logo" href="{% url 'article_detail' article8.slug %}"
                                   style="background-image: url({{ article8.image.url }});">
                                </a>
                                <div class="redact_left__text">
                                    <div class="redact_date">
                                        <h3>{{ article8.date_created|date:"j F Y"}}</h3>
                                    </div>
                                    <div class="redact_title">
                                        <a href="{% url 'article_detail' article8.slug %}">
                                            <h2>
                                                {{ article8.title }}
                                            </h2>
                                        </a>
                                    </div>
                                    <div class="redact_subtitle">
                                        <h3>
                                            {{ article8.short_description }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="redact_right">
                                <div class="redact_ending">
                                    <a href="{% url 'category_view' article8.categories.url %}">
                                        <h3>{{ article8.categories }}</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="redact_item">
                            <div class="redact_left">
                                <a class="redact_left__logo" href="{% url 'article_detail' article9.slug %}"
                                   style="background-image: url({{ article9.image.url }});">
                                </a>
                                <div class="redact_left__text">
                                    <div class="redact_date">
                                        <h3>{{ article9.date_created|date:"j F Y"}}</h3>
                                    </div>
                                    <div class="redact_title">
                                        <a href="{% url 'article_detail' article9.slug %}">
                                            <h2>
                                                {{ article9.title }}
                                            </h2>
                                        </a>
                                    </div>
                                    <div class="redact_subtitle">
                                        <h3>
                                            {{ article9.short_description }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="redact_right">
                                <div class="redact_ending">
                                    <a href="{% url 'category_view' article9.categories.url %}">
                                        <h3>{{ article9.categories }}</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="redact_item">
                            <div class="redact_left">
                                <a class="redact_left__logo" href="{% url 'article_detail' article10.slug %}"
                                   style="background-image: url({{ article10.image.url }});">
                                </a>
                                <div class="redact_left__text">
                                    <div class="redact_date">
                                        <h3>{{ article10.date_created|date:"j F Y"}}</h3>
                                    </div>
                                    <div class="redact_title">
                                        <a href="{% url 'article_detail' article10.slug %}">
                                            <h2>
                                                {{ article10.title }}
                                            </h2>
                                        </a>
                                    </div>
                                    <div class="redact_subtitle">
                                        <h3>
                                            {{ article10.short_description }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="redact_right">
                                <div class="redact_ending">
                                    <a href="{% url 'category_view' article10.categories.url %}">
                                        <h3>{{ article10.categories }}</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="redact_item">
                            <div class="redact_left">
                                <a class="redact_left__logo" href="{% url 'article_detail' article11.slug %}"
                                   style="background-image: url({{ article11.image.url }});">
                                </a>
                                <div class="redact_left__text">
                                    <div class="redact_date">
                                        <h3>{{ article11.date_created|date:"j F Y"}}</h3>
                                    </div>
                                    <div class="redact_title">
                                        <a href="{% url 'article_detail' article11.slug %}">
                                            <h2>
                                                {{ article11.title }}
                                            </h2>
                                        </a>
                                    </div>
                                    <div class="redact_subtitle">
                                        <h3>
                                            {{ article11.short_description }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="redact_right">
                                <div class="redact_ending">
                                    <a href="{% url 'category_view' article11.categories.url %}">
                                        <h3>{{ article11.categories }}</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="redact_item">
                            <div class="redact_left">
                                <a class="redact_left__logo" href="{% url 'article_detail' article12.slug %}"
                                   style="background-image: url({{ article12.image.url }});">
                                </a>
                                <div class="redact_left__text">
                                    <div class="redact_date">
                                        <h3>{{ article12.date_created|date:"j F Y"}}</h3>
                                    </div>
                                    <div class="redact_title">
                                        <a href="{% url 'article_detail' article12.slug %}">
                                            <h2>
                                                {{ article12.title }}
                                            </h2>
                                        </a>
                                    </div>
                                    <div class="redact_subtitle">
                                        <h3>
                                            {{ article12.short_description }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="redact_right">
                                <div class="redact_ending">
                                    <a href="{% url 'category_view' article12.categories.url %}">
                                        <h3>{{ article12.categories }}</h3>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    {% include 'include/footer.html' %}

            <!-- Swiper JS -->
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {
                    pagination: {
                        el: ".swiper-pagination",
                        type: "progressbar",
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            </script>
            <!-- Якорь -->
            <script>
                /* Открыть, когда кто-то нажимает на элемент span */
                function openNav() {
                    document.getElementById("myNav").style.width = "100%";
                    document.body.style.overflowY = 'hidden'
                }

                /* Закрыть, когда кто-то нажимает на символ "x" внутри наложения */
                function closeNav() {
                    document.getElementById("myNav").style.width = "0%";
                    document.body.style.overflowY = 'scroll'
                }
            </script>
    <script src="{% static 'js/script.js' %}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('a[href^="#"]:not(.top)').click(function (event) {
                        event.preventDefault();
                        let full_url = this.href;
                        let parts = full_url.split("#");
                        let trgt = parts[1];
                        let target_offset = $("#" + trgt).offset();
                        let target_top = target_offset.top;
                        $('html, body').animate({
                            scrollTop: target_top
                        }, 700);
                    });
                });
            </script>
            <!-- Swiper JS -->
    <script src="{% static 'js/swiper.js'%}"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiper", {});
            </script>
</body>

</html>
