{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" type="img/svg" href="{% static 'img/sitelogo.svg' %}">
</head>

<body>
    <!-- Верстка хедера -->
    
    <div class="adv">
        <img src="{% static 'img/reklama.png' %}" alt="da">
    </div>
    <!-- Конец хедера -->
    {% include 'include/header.html' %}

    <!-- Топ новость -->
    <div class="top_new" style="background-image: url(img/dizayn22.svg);">
        <div class="top_new__title">
            <h2>В Оренбургской области за сутки выявили 164 случая заражения covid-19</h2>
            <div class="prosmotrelo">
                <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                <span>1283</span>
            </div>
        </div>
    </div>

    <!-- Новости узб -->
    <div class="uzb_news__title">
        <h2>НОВОСТИ УЗБЕКИСТАНА</h2>
    </div>
    <div class="uzb_news__wrap">
        <div class="uzb_news__container">
            <div class="uzb_news__top">
                <div class="uzb_news__top__item" style="background-image: url(img/dizayne22.svg)">
                    <h3>В Узбекистане вновь начали обновлять список красивых...</h3>
                    <h4>Сегодня</h4>
                    <div class="prosmotrelo">
                        <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                        <span>1283</span>
                    </div>
                </div>
                <div class="uzb_news__top__item" style="background-image: url(img/zdreaste.svg);">
                    <h3>В Узбекистане вновь начали обновлять список красивых...</h3>
                    <h4>Сегодня</h4>
                    <div class="prosmotrelo">
                        <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                        <span>1283</span>
                    </div>
                </div>
                <div class="uzb_news__top__item" style="background-image: url(img/romikkk.svg);">
                    <h3>В Узбекистане вновь начали обновлять список красивых...</h3>
                    <h4>Сегодня</h4>
                    <div class="prosmotrelo">
                        <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                        <span>1283</span>
                    </div>
                </div>
            </div>
            <div class="uzb_news__bottom">
                <div class="uzb_news__bottom__item" style="background-image: url(img/maksut.svg);">
                    <h3>В Узбекистане вновь начали обновлять список красивых...</h3>
                    <h4>Сегодня</h4>
                    <div class="prosmotrelo">
                        <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                        <span>1283</span>
                    </div>
                </div>
                <div class="uzb_news__bottom__item" style="background-image: url(img/girl123.svg);">
                    <h3>В Узбекистане вновь начали обновлять список красивых...</h3>
                    <h4>Сегодня</h4>
                    <div class="prosmotrelo">
                        <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                        <span>1283</span>
                    </div>
                </div>
                <div class="uzb_news__bottom__item" style="background-image: url(img/sasesshhhhhhhhh.svg);">
                    <h3>В Узбекистане вновь начали обновлять список красивых...</h3>
                    <h4>Сегодня</h4>
                    <div class="prosmotrelo">
                        <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                        <span>1283</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Мировые новости -->
        <div class="uzb_news__title">
            <h2>МИРОВЫЕ УЗБЕКИСТАНА</h2>
        </div>
        <div class="world_news">
            <div class="world_news__container">
                <div class="world__left">
                    <a href="#">
                        <div class="left__item" style="background-image: url(img/dizayner321.svg);">
                            <h3>Львица напала на дрессировщика в Новосибирской области</h3>
                            <h4>Сегодня</h4>
                            <div class="prosmotrelo">
                                <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                                <span>1283</span>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="left__item" style="background-image: url(img/dizayner321.svg);">
                            <h3>В Узбекистане вновь начали обновлять список красивых...</h3>
                            <h4>Сегодня</h4>
                            <div class="prosmotrelo">
                                <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                                <span>1283</span>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="left__item" style="background-image: url(img/dizayner321.svg);">
                            <h3>В Узбекистане вновь начли обновлять список красивых...</h3>
                            <h4>Сегодня</h4>
                            <div class="prosmotrelo">
                                <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                                <span>1283</span>
                            </div>
                        </div>
                    </a>
                    </a>
                    <a href="#">
                        <div class="left__item" style="background-image: url(img/dizayner321.svg);">
                            <h3>В Узбекистане вновь начали обновлять список красивых...</h3>
                            <h4>Сегодня</h4>
                            <div class="prosmotrelo">
                                <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                                <span>1283</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="world__right" style="background-image: url(img/good543.svg);">
                    <h3>В Узбекистане вновь начали обновлять список красивых...</h3>
                    <h4>Сегодня</h4>
                    <div class="prosmotrelo">
                        <img src="./img/6351969_eye_key_look_password_security_icon (1).svg" alt="ic_eye">
                        <span>1283</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="uzb_news__title">
            <h2>НЕДАВНИЕ НОВОСТИ</h2>
        </div>
        <div class="recent_line">
            <div class="recent_item"><a href="#">
                    <h3>Сегодня</h3>
                </a></div>
            <div class="recent_item"><a href="#">
                    <h3>Вчера</h3>
                </a></div>
            <div class="recent_item"><a href="#">
                    <h3>24 июня</h3>
                </a></div>
            <div class="recent_item"><a href="#">
                    <h3>23 июня</h3>
                </a></div>
            <div class="recent_item"><a href="#">
                    <h3>22 июня</h3>
                </a></div>
            <div class="recent_item"><a href="#">
                    <h3>21 июня</h3>
                </a></div>
            <div class="recent_item"><a href="#">
                    <h3>20 июня</h3>
                </a></div>
            <div class="recent_item"><a href="#">
                    <h3>19 июня</h3>
                </a></div>
            <div class="recent_item"><a href="#">
                    <h3>18 июня</h3>
                </a></div>
            <div class="recent_item"><a href="#">
                    <h3>17 июня</h3>
                </a></div>
        </div>

        <div class="recent_wrap">
            <div class="recent_container">
                <div class="recent__top">
                    <div class="item_pree">
                        <div class="item">
                            <div class="item_img image" style="background-image: url(img/dizaynder555.svg);"></div>
                            <div class="item_text">
                                <a href="#"><h3>Британские ученые опровергли один из физических законов</h3></a>
                                <h4>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                    этих проблем настолько очевидна, что внедрение...</h4>
                                    <button class="submit"><a href="#">Читать Дальше</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="item_pree">
                        <div class="item">
                            <div class="item_img image" style="background-image: url(img/dizaynder555.svg);"></div>
                            <div class="item_text">
                                <a href="#"><h3>Британские ученые опровергли один из физических законов</h3></a>
                                <h4>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                    этих проблем настолько очевидна, что внедрение...</h4>
                                    <button class="submit"><a href="#">Читать Дальше</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="item_pree">
                        <div class="item">
                            <div class="item_img image" style="background-image: url(img/dizaynder555.svg);"></div>
                            <div class="item_text">
                                <a href="#"><h3>Британские ученые опровергли один из физических законов</h3></a>
                                <h4>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                    этих проблем настолько очевидна, что внедрение...</h4>
                                    <button class="submit"><a href="#">Читать Дальше</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="item_pree">
                        <div class="item">
                            <div class="item_img image" style="background-image: url(img/dizaynder555.svg);"></div>
                            <div class="item_text">
                                <a href="#"><h3>Британские ученые опровергли один из физических законов</h3></a>
                                <h4>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                    этих проблем настолько очевидна, что внедрение...</h4>
                                    <button class="submit"><a href="#">Читать Дальше</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recent__top">
                    <div class="item_pree">
                        <div class="item">
                            <div class="item_img image" style="background-image: url(img/dizaynder555.svg);"></div>
                            <div class="item_text">
                                <a href="#"><h3>Британские ученые опровергли один из физических законов</h3></a>
                                <h4>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                    этих проблем настолько очевидна, что внедрение...</h4>
                                    <button class="submit"><a href="#">Читать Дальше</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="item_pree">
                        <div class="item">
                            <div class="item_img image" style="background-image: url(img/dizaynder555.svg);"></div>
                            <div class="item_text">
                                <a href="#"><h3>Британские ученые опровергли один из физических законов</h3></a>
                                <h4>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                    этих проблем настолько очевидна, что внедрение...</h4>
                                    <button class="submit"><a href="#">Читать Дальше</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="item_pree">
                        <div class="item">
                            <div class="item_img image" style="background-image: url(img/dizaynder555.svg);"></div>
                            <div class="item_text">
                                <a href="#"><h3>Британские ученые опровергли один из физических законов</h3></a>
                                <h4>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                    этих проблем настолько очевидна, что внедрение...</h4>
                                    <button class="submit"><a href="#">Читать Дальше</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="item_pree">
                        <div class="item">
                            <div class="item_img image" style="background-image: url(img/dizaynder555.svg);"></div>
                            <div class="item_text">
                                <a href="#"><h3>Британские ученые опровергли один из физических законов</h3></a>
                                <h4>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                    этих проблем настолько очевидна, что внедрение...</h4>
                                    <button class="submit"><a href="#">Читать Дальше</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="under_esho">
                   <a href="#"><h3>Показать ещё v</h3></a>
                </div>
            </div>
        </div>

        {% include 'include/footer.html' %}

        
        <script>
            /* Открыть, когда кто-то нажимает на элемент span */
            function openNav() {
                document.getElementById("myNav").style.width = "100%";
                document.body.style.overflowY = 'hidden'
            }
    
            /* Закрыть, когда кто-то нажимает на символ "x" внутри наложения */
            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
                document.body.style.overflowY = 'scroll'
            }
        </script>
</body>

</html>