{% load static thumbnail humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>

<div class="adv">
    <img src="{% static 'img/1920х600.png' %}" alt="ads">
</div>

{% include 'include/header.html' %}

<div class="top_news">
    {#        <img src="{% static 'img/Rectangle 407.png' %}" alt="top" class="top_new__image">#}
    {% thumbnail main_news.image "1715x535" crop="center" quality=70 as im %}
        <img src="{{ im.url }}" alt="top" class="top_new__image">
    {% endthumbnail %}
    {#        <h2 class="top_text">В Оренбургской области за сутки выявили 164 случая заражения covid-19</h2>#}
    <h2 class="top_text">{{ main_news.title }}</h2>
</div>

<div class="uzbekistan_news">
    <div class="uzbekistan_news__container">
        <div class="title">
            <h2>НОВОСТИ УЗБЕКИСТАНА</h2>
        </div>
        <div class="content">
            <div class="content_top">


                {% for uzb_news in uzb_news3 %}

                    {% if uzb_news.image %}
                        <div class="uzb_item" style="background-image: url('{{ uzb_news.image.url }}');">
                    {% else %}
                        <div class="uzb_item" style="background-image: url('{% static 'img/Rectangle 433.png' %}');">
                    {% endif %}
                <div class="uzb_item__title">
                    <a href="#"><h3>{{ uzb_news.title|truncatechars:50 }}</h3></a>
                </div>
                <div class="uzb_item__subtext">
                    <a href="#"><h4>{{ uzb_news.date_created }}</h4></a>
                </div>
                </div>

                {% endfor %}


                </div>
                <div class="content_bottom">


                    {% for uzb_news in uzb_news2 %}

                        {% if uzb_news.image %}
                            <div class="uzb_item" style="background-image: url('{{ uzb_news.image.url }}');">
                        {% else %}
                            <div class="uzb_item"
                                 style="background-image: url('{% static 'img/Rectangle 433.png' %}');">
                        {% endif %}
                    {#                <div class="uzb_item" style="background-image: url('{% static 'img/Rectangle 433.png' %}');">#}
                    <div class="uzb_item__title">
                        <a href="#"><h3>{{ uzb_news.title|truncatechars:50 }}</h3></a>
                        {#                        <a href="#"><h3>В Узбекистане вновь начали обновлять список красивых...</h3></a>#}
                    </div>
                    <div class="uzb_item__subtext">
                        <a href="#"><h4>{{ uzb_news.date_created|naturalday }}</h4></a>
                    </div>
                    </div>

                    {% endfor %}


                    </div>
                </div>
            </div>
        </div>
        {#        <div class="world_news">#}
        {#            <div class="world_container">#}
        {#                <div class="title">#}
        {#                    <h2>МИРОВЫЕ НОВОСТИ</h2>#}
        {#                </div>#}
        {#                <div class="world_content">#}
        {#                    <div class="content__left">#}
        {#                        <div class="content_left__top">#}
        {#                            <div class="world__item"#}
        {#                                 style="background-image: url('{% static 'img/Rectangle 433.png' %}');">#}
        {#                                <div class="world_item__title">#}
        {#                                    <a href="#"><h3>Львица напала на дрессировщика в Новосибирской области</h3></a>#}
        {#                                </div>#}
        {#                                <div class="world_item__subtitle">#}
        {#                                    <h4>Львица напала на дрессировщика</h4>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="world__item"#}
        {#                                 style="background-image: url('{% static 'img/Rectangle 433.png' %}');">#}
        {#                                <div class="world_item__title">#}
        {#                                    <a href="#"><h3>Львица напала на дрессировщика в Новосибирской области</h3></a>#}
        {#                                </div>#}
        {#                                <div class="world_item__subtitle">#}
        {#                                    <h4>Львица напала на дрессировщика</h4>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="content_left__top">#}
        {#                            <div class="world__item"#}
        {#                                 style="background-image: url('{% static 'img/Rectangle 433.png' %}');">#}
        {#                                <div class="world_item__title">#}
        {#                                    <a href="#"><h3>Львица напала на дрессировщика в Новосибирской области</h3></a>#}
        {#                                </div>#}
        {#                                <div class="world_item__subtitle">#}
        {#                                    <h4>Львица напала на дрессировщика</h4>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="world__item"#}
        {#                                 style="background-image: url('{% static 'img/Rectangle 433.png' %}');">#}
        {#                                <div class="world_item__title">#}
        {#                                    <a href="#"><h3>Львица напала на дрессировщика в Новосибирской области</h3></a>#}
        {#                                </div>#}
        {#                                <div class="world_item__subtitle">#}
        {#                                    <h4>Львица напала на дрессировщика</h4>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="content__right" style="background-image: url('{% static 'img/Rectangle 433.png' %}');">#}
        {#                        <div class="content_right__title">#}
        {#                            <a href="#"><h3>Львица напала на дрессировщика в Новосибирской области</h3></a>#}
        {#                        </div>#}
        {#                        <div class="content_right__subtitle">#}
        {#                            <h4>Львица напала на дрессировщика</h4>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="recent_news">
            <div class="recent__container">
                <div class="title">
                    <h2>НЕДАВНИЕ НОВОСТИ</h2>
                </div>
                <div class="recent_line">
                    {% for date in dates %}

                        <div class="recent_item {% cycle "active" "" "" "" "" "" "" "" "" "" "" %}">
                            <button type="submit"
                                    value="{{ date|date:"Y-m-d" }}"
                                    {#                                    data-year="{{ date|date:"Y" }}"#}
                                    {#                                    data-month="{{ date|date:"m" }}"#}
                                    {#                                    data-day="{{ date|date:"d" }}"#}
                            >
                                <h3>{{ date|naturalday:"F d"|capfirst }}</h3>
                            </button>
                        </div>

                    {% endfor %}
                </div>
                <div class="recent_content">

                    {% for news in today_news %}

                        <div class="recent_content__item">
                            <div class="recent__image">
                                {% if news.image %}
                                    <img class="imgg" src="{{ news.image.url }}" alt="dada">
                                {% else %}
                                    <img class="imgg" src="{% static 'img/Rectangle 433.png' %}" alt="dada">
                                {% endif %}
                            </div>
                            <div class="recent_text">
                                <h2>{{ news.short_title }}</h2>
                                <h3>{{ news.title }}</h3>
                                <button class="look"><a href="#">Читать дальше</a></button>
                            </div>
                        </div>

                    {% endfor %}


                </div>
            </div>
        </div>
        <div class="more">
            <a href="#"><h3>Показать ещё v</h3></a>
        </div>

        {% include 'include/footer.html' %}
        <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous"></script>
        <script>
            $(".recent_item>button").on('click', function () {
                let newsDate = this.value
                let data = {
                    newsDate: newsDate,
                }
                $(".recent_item").removeClass('active')
                $(this).parent('.recent_item').addClass('active')
                $.ajax({
                    method: "GET",
                    dataType: "json",
                    data: data,
                    url: "{% url 'news-update' %}",
                    success: function (data){
                        let result = data['data']
                        console.log("hello, how's life " + result)
                        $(".recent_content__item").css('display', 'none')
                        $.each(result, function (key, obj){
                            console.log("Это работает", obj)
                            $('.recent_content').append(

                                '<div class="recent_content__item"> <div class="recent__image"> <img class="imgg" src="{% static 'img/Rectangle 433.png' %}" alt="dada"> </div>'+
                                    '<div class="recent_text"> <h2>'+ obj['title'] +'</h2>'+
                                        '<h3>'+ obj['short_title'] +'</h3>'+
                                        '<button class="look"><a href="#">Читать дальше</a></button> </div> </div>'

                            )
                        })
                    }
                })


                console.log("Эта кнопка работает", this.value)
            })

        </script>


</body>
</html>
