{% load static thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>

<div class="adv">
    <img src="{% static 'img/1920х600.png' %}" alt="ads">
</div>

{% include 'include/header.html' %}

<div class="top_news">
    {#        <img src="{% static 'img/Rectangle 407.png' %}" alt="top" class="top_new__image">#}
    {% thumbnail main_news.image "1715x535" crop="center" quality=70 as im %}
        <img src="{{ im.url }}" alt="top" class="top_new__image">
    {% endthumbnail %}
    {#        <h2 class="top_text">В Оренбургской области за сутки выявили 164 случая заражения covid-19</h2>#}
    <h2 class="top_text">{{ main_news.title }}</h2>
</div>

<div class="uzbekistan_news">
    <div class="uzbekistan_news__container">
        <div class="title">
            <h2>НОВОСТИ УЗБЕКИСТАНА</h2>
        </div>
        <div class="content">
            <div class="content_top">


                {% for uzb_news in uzb_news3 %}

                    {% if uzb_news.image %}
                        <div class="uzb_item" style="background-image: url('{{ uzb_news.image.url }}');">
                    {% else %}
                        <div class="uzb_item" style="background-image: url('{% static 'img/Rectangle 433.png' %}');">
                    {% endif %}
                <div class="uzb_item__title">
                    <a href="#"><h3>{{ uzb_news.title|truncatechars:50 }}</h3></a>
                </div>
                <div class="uzb_item__subtext">
                    <a href="#"><h4>{{ uzb_news.date_created }}</h4></a>
                </div>
                </div>

                {% endfor %}


                </div>
                <div class="content_bottom">


                    {% for uzb_news in uzb_news2 %}

                        {% if uzb_news.image %}
                            <div class="uzb_item" style="background-image: url('{{ uzb_news.image.url }}');">
                        {% else %}
                            <div class="uzb_item"
                                 style="background-image: url('{% static 'img/Rectangle 433.png' %}');">
                        {% endif %}
                    {#                <div class="uzb_item" style="background-image: url('{% static 'img/Rectangle 433.png' %}');">#}
                    <div class="uzb_item__title">
                        <a href="#"><h3>{{ uzb_news.title|truncatechars:50 }}</h3></a>
                        {#                        <a href="#"><h3>В Узбекистане вновь начали обновлять список красивых...</h3></a>#}
                    </div>
                    <div class="uzb_item__subtext">
                        <a href="#"><h4>{{ uzb_news.date_created }}</h4></a>
                    </div>
                    </div>

                    {% endfor %}


                    </div>
                </div>
            </div>
        </div>
        <div class="world_news">
            <div class="world_container">
                <div class="title">
                    <h2>МИРОВЫЕ НОВОСТИ</h2>
                </div>
                <div class="world_content">
                    <div class="content__left">
                        <div class="content_left__top">
                            <div class="world__item"
                                 style="background-image: url('{% static 'img/Rectangle 433.png' %}');">
                                <div class="world_item__title">
                                    <a href="#"><h3>Львица напала на дрессировщика в Новосибирской области</h3></a>
                                </div>
                                <div class="world_item__subtitle">
                                    <h4>Львица напала на дрессировщика</h4>
                                </div>
                            </div>
                            <div class="world__item"
                                 style="background-image: url('{% static 'img/Rectangle 433.png' %}');">
                                <div class="world_item__title">
                                    <a href="#"><h3>Львица напала на дрессировщика в Новосибирской области</h3></a>
                                </div>
                                <div class="world_item__subtitle">
                                    <h4>Львица напала на дрессировщика</h4>
                                </div>
                            </div>
                        </div>
                        <div class="content_left__top">
                            <div class="world__item"
                                 style="background-image: url('{% static 'img/Rectangle 433.png' %}');">
                                <div class="world_item__title">
                                    <a href="#"><h3>Львица напала на дрессировщика в Новосибирской области</h3></a>
                                </div>
                                <div class="world_item__subtitle">
                                    <h4>Львица напала на дрессировщика</h4>
                                </div>
                            </div>
                            <div class="world__item"
                                 style="background-image: url('{% static 'img/Rectangle 433.png' %}');">
                                <div class="world_item__title">
                                    <a href="#"><h3>Львица напала на дрессировщика в Новосибирской области</h3></a>
                                </div>
                                <div class="world_item__subtitle">
                                    <h4>Львица напала на дрессировщика</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__right" style="background-image: url('{% static 'img/Rectangle 433.png' %}');">
                        <div class="content_right__title">
                            <a href="#"><h3>Львица напала на дрессировщика в Новосибирской области</h3></a>
                        </div>
                        <div class="content_right__subtitle">
                            <h4>Львица напала на дрессировщика</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recent_news">
            <div class="recent__container">
                <div class="title">
                    <h2>НЕДАВНИЕ НОВОСТИ</h2>
                </div>
                <div class="recent_line">
                    <div class="recent_item active">
{#                        <button><h3><a href="#">Сегодня</a></h3></button>#}
{#                        <button><h3><a href="#">{{ main_news.date_created|timesince }}</a></h3></button>#}
{#                        <button><h3><a href="#">{{ main_news.date_created|timeuntil }}</a></h3></button>#}
                        <button><h3><a href="#">{% now "N" %}</a></h3></button>
                    </div>
                    <div class="recent_item">
                        <button><h3><a href="#">Вчера</a></h3></button>
                    </div>
                    <div class="recent_item">
                        <button><h3><a href="#">24 июня</a></h3></button>
                    </div>
                    <div class="recent_item">
                        <button><h3><a href="#">23 июня</a></h3></button>
                    </div>
                    <div class="recent_item">
                        <button><h3><a href="#">22 июня</a></h3></button>
                    </div>
                    <div class="recent_item">
                        <button><h3><a href="#">21 июня</a></h3></button>
                    </div>
                    <div class="recent_item">
                        <button><h3><a href="#">20 июня</a></h3></button>
                    </div>
                    <div class="recent_item">
                        <button><h3><a href="#">19 июня</a></h3></button>
                    </div>
                    <div class="recent_item">
                        <button><h3><a href="#">18 июня</a></h3></button>
                    </div>
                    <div class="recent_item">
                        <button><h3><a href="#">17 июня</a></h3></button>
                    </div>
                </div>
                <div class="recent_content">
                    <div class="recent_content__item">
                        <div class="recent__image">
                            <img class="imgg" src="{% static 'img/Rectangle 433.png' %}" alt="dada">
                        </div>
                        <div class="recent_text">
                            <h2>Британские ученые опровергли один из физических законов</h2>
                            <h3>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                этих
                                проблем настолько очевидна, что внедрение...</h3>
                            <button class="look"><a href="#">Читать дальше</a></button>
                        </div>
                    </div>
                    <div class="recent_content__item">
                        <div class="recent__image">
                            {#                        <img class="imgg" src="./images/Rectangle 433.png" alt="dada">#}
                            <img class="imgg" src="{% static 'img/Rectangle 433.png' %}" alt="dada">
                        </div>
                        <div class="recent_text">
                            <h2>Британские ученые опровергли один из физических законов</h2>
                            <h3>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                этих
                                проблем настолько очевидна, что внедрение...</h3>
                            <button class="look"><a href="#">Читать дальше</a></button>
                        </div>
                    </div>
                    <div class="recent_content__item">
                        <div class="recent__image">
                            {#                        <img class="imgg" src="./images/Rectangle 433.png" alt="dada">#}
                            <img class="imgg" src="{% static 'img/Rectangle 433.png' %}" alt="dada">
                        </div>
                        <div class="recent_text">
                            <h2>Британские ученые опровергли один из физических законов</h2>
                            <h3>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                этих
                                проблем настолько очевидна, что внедрение...</h3>
                            <button class="look"><a href="#">Читать дальше</a></button>
                        </div>
                    </div>
                    <div class="recent_content__item">
                        <div class="recent__image">
                            {#                        <img class="imgg" src="./images/Rectangle 433.png" alt="dada">#}
                            <img class="imgg" src="{% static 'img/Rectangle 433.png' %}" alt="dada">
                        </div>
                        <div class="recent_text">
                            <h2>Британские ученые опровергли один из физических законов</h2>
                            <h3>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                этих
                                проблем настолько очевидна, что внедрение...</h3>
                            <button class="look"><a href="#">Читать дальше</a></button>
                        </div>
                    </div>
                    <div class="recent_content__item">
                        <div class="recent__image">
                            {#                        <img class="imgg" src="./images/Rectangle 433.png" alt="dada">#}
                            <img class="imgg" src="{% static 'img/Rectangle 433.png' %}" alt="dada">
                        </div>
                        <div class="recent_text">
                            <h2>Британские ученые опровергли один из физических законов</h2>
                            <h3>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                этих
                                проблем настолько очевидна, что внедрение...</h3>
                            <button class="look"><a href="#">Читать дальше</a></button>
                        </div>
                    </div>
                    <div class="recent_content__item">
                        <div class="recent__image">
                            {#                        <img class="imgg" src="./images/Rectangle 433.png" alt="dada">#}
                            <img class="imgg" src="{% static 'img/Rectangle 433.png' %}" alt="dada">
                        </div>
                        <div class="recent_text">
                            <h2>Британские ученые опровергли один из физических законов</h2>
                            <h3>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                этих
                                проблем настолько очевидна, что внедрение...</h3>
                            <button class="look"><a href="#">Читать дальше</a></button>
                        </div>
                    </div>
                    <div class="recent_content__item">
                        <div class="recent__image">
                            {#                        <img class="imgg" src="./images/Rectangle 433.png" alt="dada">#}
                            <img class="imgg" src="{% static 'img/Rectangle 433.png' %}" alt="dada">
                        </div>
                        <div class="recent_text">
                            <h2>Британские ученые опровергли один из физических законов</h2>
                            <h3>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                этих
                                проблем настолько очевидна, что внедрение...</h3>
                            <button class="look"><a href="#">Читать дальше</a></button>
                        </div>
                    </div>
                    <div class="recent_content__item">
                        <div class="recent__image">
                            {#                        <img class="imgg" src="./images/Rectangle 433.png" alt="dada">#}
                            <img class="imgg" src="{% static 'img/Rectangle 433.png' %}" alt="dada">
                        </div>
                        <div class="recent_text">
                            <h2>Британские ученые опровергли один из физических законов</h2>
                            <h3>А ещё диаграммы связей могут быть ограничены исключительно образом мышления. Значимость
                                этих
                                проблем настолько очевидна, что внедрение...</h3>
                            <button class="look"><a href="#">Читать дальше</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more">
            <a href="#"><h3>Показать ещё v</h3></a>
        </div>

        {% include 'include/footer.html' %}

</body>
</html>