<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 Страница</title>
    <link rel="stylesheet" href="css/details.css">
    <link rel="icon" type="img/svg" href="./img/sitelogo.svg">
</head>

<body>
    <!-- Верстка хедера -->
    
    <div class="adv">
        <img src="./img/reklama.png" alt="da">
    </div>
    <div class="header_topbar">
        <div class="header_topbar__container">
            <div class="header_topbar__left">
                <!-- <div class="header_topbar__nav">
                    <ul class="header_topbar__menu">
                        <li class="topbar__item">Главная</li>
                        <li class="topbar__item">></li>
                        <li class="topbar__item">Статьи</li>
                        <li class="topbar__item">></li>
                        <li class="topbar__item">Люди</li>
                        <li class="topbar__item">></li>
                        <li class="topbar__item">
                            <h4>Статья</h4>
                        </li>
                    </ul>
                </div> -->
                <div class="header_topbar__title">
                    <h2>Франция намерена исследовать, почему кровь стынет в жилах</h2>
                </div>
            </div>
            <div class="header_topbar__right">
                <!-- <div class="category"><a href="#">
                        <h3>Музыка</h3>
                    </a></div> -->
            </div>
        </div>
    </div>

    <div class="state_main">
        <div class="state_main__container">
            <div class="state_main__top" style="background-image: url(img/harasho.svg);">
                <h3>Источник: Студия Main Post</h3>
            </div>
        </div>
    </div>
    <div class="main_state__wrap">
        <div class="text__top">
            <h3>Как принято считать, сделанные на базе интернет-аналитики выводы, инициированные исключительно
                синтетически, преданы социально-демократической анафеме. <span>Сложно сказать</span>, почему диаграммы
                связей, инициированные исключительно синтетически, своевременно верифицированы. Равным образом, начало
                повседневной работы по формированию позиции обеспечивает актуальность новых принципов формирования
                материально-технической и кадровой базы.</h3>
        </div>
        <div class="text__bottom">
            <h3>Как принято считать, сделанные на базе интернет-аналитики выводы, инициированные исключительно
                синтетически, преданы социально-демократической анафеме. Сложно сказать, почему диаграммы связей,
                инициированные исключительно синтетически, своевременно верифицированы. Равным образом, начало
                <span>повседневной</span> работы по формированию позиции обеспечивает актуальность <span>новых</span>
                принципов формирования материально-технической и кадровой базы.
            </h3>
        </div>
    </div>

    <div class="second_state__wrap">
        <div class="second_state__container">
            <div class="second_state__left">
                <h3>Источник: Студия Main Post</h3>
            </div>
            <div class="second_state__right">
                <div class="second_state__title">
                    <h3>Оказывается, выбранный нами инновационный путь не стал ограничивающим фактором</h3>
                </div>
                <div class="second_state__subtitle">
                    <h3>Как принято считать, сделанные на базе интернет-аналитики выводы, инициированные исключительно
                        синтетически, преданы социально-демократической анафеме. Сложно сказать, почему диаграммы
                        связей, инициированные исключительно синтетически, своевременно верифицированы. Равным образом,
                        начало повседневной работы по формированию позиции обеспечивает актуальность новых принципов
                        формирования материально-технической и кадровой базы.</h3>
                </div>
                <div class="second_state__endtitle">
                    <h3>Акционеры крупнейших компаний, превозмогая сложившуюся непростую экономическую ситуацию,
                        представлены в исключительно положительном свете.</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="main_state__wrap">
        <div class="text__top">
            <h3>Как принято считать, сделанные на базе интернет-аналитики выводы, инициированные исключительно
                синтетически, преданы социально-демократической анафеме. <span>Сложно сказать</span>, почему диаграммы
                связей, инициированные исключительно синтетически, своевременно верифицированы. Равным образом, начало
                повседневной работы по формированию позиции обеспечивает актуальность новых принципов формирования
                материально-технической и кадровой базы.</h3>
        </div>
        <div class="text__bottom">
            <h3>Как принято считать, сделанные на базе интернет-аналитики выводы, инициированные исключительно
                синтетически, преданы социально-демократической анафеме. Сложно сказать, почему диаграммы связей,
                инициированные исключительно синтетически, своевременно верифицированы. Равным образом, начало
                <span>повседневной</span> работы по формированию позиции обеспечивает актуальность <span>новых</span>
                принципов формирования материально-технической и кадровой базы.
            </h3>
        </div>
    </div>

    <div class="third_state__wrap">
        <div class="third_state__container">
            <div class="third__left">
                <h3>Источник: Студия Main Post</h3>
            </div>
            <div class="third__right">
                <h3>Источник: Студия Main Post</h3>
            </div>
        </div>
    </div>

    <div class="main_state__wrap">
        <div class="text__top">
            <h3>Как принято считать, сделанные на базе интернет-аналитики выводы, инициированные исключительно
                синтетически, преданы социально-демократической анафеме. <span>Сложно сказать</span>, почему диаграммы
                связей, инициированные исключительно синтетически, своевременно верифицированы. Равным образом, начало
                повседневной работы по формированию позиции обеспечивает актуальность новых принципов формирования
                материально-технической и кадровой базы.</h3>
        </div>
        <div class="text__bottom">
            <h3>Как принято считать, сделанные на базе интернет-аналитики выводы, инициированные исключительно
                синтетически, преданы социально-демократической анафеме. Сложно сказать, почему диаграммы связей,
                инициированные исключительно синтетически, своевременно верифицированы. Равным образом, начало
                <span>повседневной</span> работы по формированию позиции обеспечивает актуальность <span>новых</span>
                принципов формирования материально-технической и кадровой базы.
            </h3>
        </div>
    </div>
    <div id="myBtn" class="share">
      
            <h3>Поделиться</h3>
       
        <img src="./img/share-2.svg" alt="da">
    </div>
    <div id="myModal" class="modal">

        <!-- Модальное содержание -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Мы в соц.сетях:</p>
          <div class="modal_links">
              <a href="https://www.google.com/"><img src="./img/telega.svg" alt="telega" width="40px" height="40px"></a>
              <a href="https://www.google.com/"><img src="./img/facebok.svg" alt="face" width="40px" height="40px"></a>
              <a href="https://www.google.com/"><img src="./img/3225191_app_instagram_logo_media_popular_icon.svg" alt="insta" width="40px" height="40px"></a>
          </div>
        </div>
      
      </div>
      
    

    <div class="more">
        <div class="more__container">
            <div class="more__title">
                <h2>Вам также может понравиться</h2>
            </div>
            <div class="more__content">
                <div class="more__item">
                    <a href="#"><div class="more_item__img">
                        
                    </div></a>
                    <div class="more_item__text">
                        <a href="#"><h2>Органический трафик попахивает безумием</h2></a>
                        <h3>С другой стороны, базовый вектор развития создаёт предпосылки для распределения внутренних
                            резервов и ресурсов.</h3>
                    </div>
                </div>
                <!-- Trigger the Modal -->


                <div class="more__item">
                    <a href="#"><div class="more_item__img">
                      
                    </div></a>
                    <div class="more_item__text">
                        <a href="#"><h2>Органический трафик попахивает безумием</h2></a>
                        <h3>С другой стороны, базовый вектор развития создаёт предпосылки для распределения внутренних
                            резервов и ресурсов.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>
    <script>
        /* Открыть, когда кто-то нажимает на элемент span */
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
            document.body.style.overflowY = 'hidden'
        }

        /* Закрыть, когда кто-то нажимает на символ "x" внутри наложения */
        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            document.body.style.overflowY = 'scroll'
        }
    </script>
</body>

</html>